<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All articles belong to <a href="https://chipandco.com" target="_blank">Chip & Co.</a>
            <a class="grey-text text-lighteb-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>